{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'mainApp/styles.css' %}">
    <title>{{title}}</title>
</head>
<body>
    
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} {{ data }} {% endcomment %}
            {% for field in data %}
            <div class="form-control">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}                
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                    <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                </div> 

        </form>

        <div>
            {% for i in dic %}
                <li>{{i}}</li>
            {% endfor %}
        </div>
</body>
</html>